.main {
  align-items: center;
  padding-top: 5rem;
  flex-grow: 1;
  max-width: 1200px;
  z-index: 3;
}

.avatar {
  border-radius: 3rem;
  position: relative;
}

.avatar img {
  border-radius: 2rem;
  box-shadow: 2px 2px 4px #000;
  border: 1px solid #1399ca;
}

/* .avatar:hover:after {
  content: "Esto es un placeholder";
  position: absolute;
  top: 0;
  left: 0;
  height: 360px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transform: rotate(-45deg);
}

.avatar:hover:before {
  opacity: 70%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 360px;
  width: 360px;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
} */

.content {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-items: center;
  gap: 1rem;
}

.info {
  padding:0 2rem;
}