.main {
  align-items: center;
  padding-top: 5rem;
  flex-grow: 1;
  max-width: 1200px;
  z-index: 3;
}

.avatar {
  border-radius: 3rem;
  position: relative;
}

.avatar img {
  border-radius: 2rem;
  box-shadow: 2px 2px 4px #000;
  border: 1px solid #1399ca;
}

.content {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-items: center;
  gap: 1rem;
}

.info {
  padding:0 2rem;
}